<section class="container text-center">
    
    <div class="row">
        <div *ngFor="let products of allProducts" class="col">
            <article class="containerP">
                <div class="containerImg">
                    <img class="product" src="{{products.image}}" alt="camisetas"> 
                    <div class="text-center">
                        <h5 class="name">{{products.name}}</h5>
                        <h6 class="price">${{products.price}}</h6>
                        <h5 class="tallas">S  M  L  X </h5>
                    </div>
                </div>
            </article>
        </div>
    </div>
    
</section>