@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

article {
    font-family: "Roboto", sans-serif;
    /* background-color: #e5e5f7; */
    opacity: 0.8;
    background-image: url('/assets/fondoInicioAdmin.jpg');
    /* background: radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px); */
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: 0 0, 10px 10px;
    display: flex;
    min-height: 100vh;
}

.form{
    background-color: white;
    margin: auto;
    width: 90%;
    max-width: 400px;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 95%);
    text-align: center;
}

.formTitle{ 
    font-size: 2rem;
    margin-bottom: .5rem;
}

.formP{
    font-weight: 300;
}

.fomrLink{
    font-weight: 400;
    color: black;
}

.formContainer{
    margin-top: 3em;
    display: grid;
    gap: 2rem;
}

.formGroup{
    position: relative;
    --color: #5757577e;
}

.formInput{
    width: 100%;
    background: none;
    color: gray;
    font-size: 1rem;
    padding: .6rem .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
}

.formInput:not(:placeholder-shown) + .fomrLabel{
    color: #4d4646;
}

.formInput:focus + .fomrLabel,
.formInput:not(:placeholder-shown) + .fomrLabel{
    transform: translateY(-1px) scale(.7);
    transform-origin: left top;
    color: #3866f2;
}

.fomrLabel{
    color: var(--color);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(18px);
    transition: transform .6s, color .4s;
}

.formSubmit{
    background: #096719;
    color: white;
    /* font-family: ; */
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: .5em;
}
.formSubmit:hover {
	background-color: rgba(255, 255, 255, 0.8);
    color: black;
    border: solid #444444;
}

.formLine{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #3866f2;
    transform: scale(0);
    transform: left bottom;
    transition: transform .5s;
}

.formInput:focus + .fomrLabel,
.formInput:not(:placeholder-shown) + .fomrLabel{
    transform: scale(.7);
}

@media (max-width: 425px){
    .formTitle{
        font-size: 1.8rem;
    }
}