<app-nav-bar></app-nav-bar>
<article>
    <form class="form" [formGroup]="formularioLoginAdmin" (ngSubmit)="handleSubmint()">
        <h2 class="formTitle">Inicio de Sesión Administradores</h2>


        <div class="formContainer">
            <div class="formContainer">
                <div class="formGroup">
                    <input type="text" id="email" class="formInput" placeholder=" " name="email"
                        formControlName="email">
                    <label for="email" class="fomrLabel">Email:</label>
                    <span class="formLine"></span>
                </div>
            </div>
            <div class="formContainer">
                <div class="formGroup">
                    <input type="password" id="password" class="formInput" placeholder=" " name="password"
                        formControlName="password">
                    <label for="password" class="fomrLabel">Contraseña:</label>
                    <span class="formLine"></span>
                </div>
            </div>
            <div>
                <a href="#">Olvidaste tú contraseña?</a>
            </div>

            <input type="submit" class="formSubmit" value="Iniciar Sesión">
        </div>

    </form>
</article>