
<header>
    <!-- ========== NAVBAR ============ -->
    <app-nav-bar></app-nav-bar>

    <figure class="containerHeader">
        <img src="/assets/h3VbclkIEITVYkqucrRtjkApf0mGpTrnSg7jw2Hu.jpg" class="img-fluid" alt="Banner">
        <img class="imgCel" src="/assets/bannerCel.jpg" alt="Banner">
    </figure>
</header>

<main>
    <article class="container">
        <div class="hombre">
            <h2>HOMBRE</h2>
            <img class="category" routerLink="/productos-hombre" src="/assets/img1.webp" alt="Hombre">
        </div>
        <div class="mujer">
            <h2>MUJER</h2>
            <img class="category"  routerLink="/productos-mujer" src="/assets/categoriaMujer.jpg" alt="Mujer">
        </div>
    </article>
    <section class="imgMedio">
        <img src="/assets/bannerMid.webp" alt="Imagen de medio">
    </section>
    <div class="text-center">
        <h2>Productos mas comprados</h2>
    </div>
    <article class="containerP">
        <div class="containerImg">
            <img class="product" src="/assets/img2.webp" alt="camisetas"> 
            <div class="text-center">
                <h5 class="name">The Journey Boxy T-Shirt - Cream</h5>
                <h6 class="price">$120.000</h6>
                <!-- <h5 class="tallas">S  M  L  X </h5> -->
            </div>
        </div>
        <div class="containerImg">
            <img class="product" src="/assets/img3.webp" alt="camisetas"> 
            <div class="text-center">
                <h5 class="name">Striped No Fear Tee - Red</h5>
                <h6 class="price">$125.000</h6>
                <!-- <h5 class="tallas">S  M  L  X </h5> -->
            </div>
        </div>
        <div class="containerImg">
            <img class="product" src="/assets/img4.webp" alt="camisetas"> 
            <div class="text-center">
                <h5 class="name">Miracle Boxy T-Shirt - Sand</h5>
                <h6 class="price">$120.000</h6>
                <!-- <h5 class="tallas">S  M  L  X </h5> -->
            </div>
        </div>
        <div class="containerImg">
            <img class="product" src="/assets/img5.webp" alt="camisetas"> 
            <div class="text-center">
                <h5 class="name">The Journey Oversized T-Shirt - Black</h5>
                <h6 class="price">$120.000</h6>
                <!-- <h5 class="tallas">S  M  L  X </h5> -->
            </div>
        </div>
        <div class="containerImg">
            <img class="product" src="/assets/img6.webp" alt="camisetas"> 
            <div class="text-center">
                <h5 class="name">Striped Box-Fit T-Shirt - Brown</h5>
                <h6 class="price">$130.000</h6>
                <!-- <h5 class="tallas">S  M  L  X </h5> -->
            </div>
        </div>
        <div class="containerImg">
            <img class="product" src="/assets/img7.webp" alt="camisetas"> 
            <div class="text-center">
                <h5 class="name">The Journey Oversized T-Shirt - Cream</h5>
                <h6 class="price">$130.000</h6>
                <!-- <h5 class="tallas">S  M  L  X </h5> -->
            </div>
        </div>
        <div class="containerImg">
            <img class="product" src="/assets/img8.webp" alt="camisetas"> 
            <div class="text-center">
                <h5 class="name"> Camiseta Oversized Dream - Café</h5>
                <h6 class="price">$120.000</h6>
                <!-- <h5 class="tallas">S  M  L  X </h5> -->
            </div>
        </div>
        <div class="containerImg">
            <img class="product" src="/assets/img9.webp" alt="camisetas"> 
            <div class="text-center">
                <h5 class="name">Camiseta Oversized Lavado - Gris Oscuro</h5>
                <h6 class="price">$140.000</h6>
                <!-- <h5 class="tallas">S  M  L  X </h5> -->
            </div>
        </div>
<!--         
        <img src="/assets/img2.webp" alt="img1">
        <img src="/assets/img3.webp" alt="img2">
        <img src="/assets/img4.webp" alt="img3">
        <img src="/assets/img5.webp" alt="img4">
        <img src="/assets/img6.webp" alt="img5">
        <img src="/assets/img7.webp" alt="img6"> -->
    </article>
    <div class="text-center">
        <a class="cta" routerLink="/productos-hombre"><button>Descrubre mas</button></a>
    </div>
</main>
<!-- =========== FOOTER ============ -->
<app-footer></app-footer>  
